@page "/"
@using Agenda.Shared
@inject HttpClient Http

<PageTitle>Agenda</PageTitle>

<h1>Bienvenido</h1>

<p>Aquí podrá registrar todos sus contactos.</p>

<label>¿Que tamaño tendrá la Agenda?</label>
<br><input type="text" @bind="size"/>
<button class="btn btn-primary ms-2">Agregar</button>

@code{
    public int size;

}

