@page "/"
@using Agenda.Shared.Models;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Agenda</PageTitle>

<h1>Bienvenido</h1>

<p>Aquí podrá registrar todos sus contactos.</p>

<p>@result</p>
<label>¿Que tamaño tendrá la Agenda?</label>
<br><input type="text" @bind="size"/>
<button class="btn btn-primary ms-2" @onclick="(() => sizeDirectory())">Agregar</button>

@code{
    public string size;
    private string result;

    private void sizeDirectory()
    {
        string msg = "";
        if(int.Parse(size)<=0 || int.Parse(size) > 10)
        {
            msg = "Valor invalido: el tamaño debe ser mayor a 0 o menor a 10";
            result = msg;
        }
        else
        {
            Navigation.NavigateTo("/contacts");
        }
    }
}

