@page "/"
@using Agenda.Shared.Models;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Agenda</PageTitle>

<h1>Bienvenido</h1>

<p>Aquí podrá registrar todos sus contactos.</p>

